.active {
    background-color: rgb(83, 81, 81);
}

/* @media screen and (max-width: 992px) {
    .active {
        font-weight: bolder;
        background-color: transparent;
        font-size: 16px;
    }
} */