.active {
    background-color: rgb(83, 81, 81);
}
.activeUser {
    color: rgb(36, 34, 34);
    /* border: 1px solid white; */
}
/* @media screen and (max-width: 992px) {
    .active {
        font-weight: bolder;
        background-color: transparent;
        font-size: 16px;
    }
} */