.active {
    background-color: rgb(36, 33, 33);
}

/* @media screen and (max-width: 992px) {
    .active {
        font-weight: bolder;
        background-color: transparent;
        font-size: 16px;
    }
} */