#feedback-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(135deg, #4caf50, #2e7d32);
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 4s ease;
  z-index: 1000;
  pointer-events: none; /* Prevent click when invisible */
}

#feedback-button.visible {
  opacity: 1;
  pointer-events: auto; /* Enable click when visible */
}

#feedback-button:hover {
  background: linear-gradient(135deg, #66bb6a, #388e3c);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.fa-comment-dots {
  font-size: 18px;
  color: white; /* Calm blue */
  transition: color 0.3s ease, transform 0.3s ease;
  margin: 0 3px 0 0 ;
}

.fa-comment-dots:hover {
  color: #357ab8;
  transform: scale(1.1); /* Slight zoom on hover */
}


@media screen and (max-width: 600px) {
  #feedback-button {
    bottom: 50px;
    right: 20px;
    padding: 10px 15px;
  }
}
