  .nav_links {
    display: flex;
    gap: 1rem;
  }
  .nav_links a, #home {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
  }
  .nav_links a:hover, #home:hover{
    background-color: rgb(36, 33, 33);
  }
  #home {
    display: flex;
    flex-direction: column;
  }
  

  @media (max-width: 992px) {
  /* nav {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  } */

  /* .logo,
  .nav_links,
  .nav_buttons {
    text-align: center;
    justify-content: center;
  } */

  /* .nav_links {
    flex-wrap: wrap;
    gap: 10px;
  } */

  /* .nav_buttons {
    justify-content: center;
  } */

  .nav_links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    padding: 9px 9px;
    border-top: 2px solid black;
    z-index: 1000;
  }

  .nav_links a {
    /* flex: 1; */
    text-align: center;
    /* font-weight: bold; */
    padding: 3px;
    /* font-weight: lighter; */
    /* font-size: 10px; */
  }
}